
body{
	background-color:white;
	color:#333333;
	font-family:'ff-tisa-pro-web',Georgia,serif;
	font-weight:500;
	margin: 0 auto;
	text-align: center;
	overflow-x:hidden;
	width:960px;}

		a{
			text-decoration: none;}
/*Designs for popup*/

	.popup{
		background: url('popupbackground.jpg');
		display:none;
		height:420px;
		position: absolute;
		text-align: center;
		width:586px;}

	.textbox{
		background-color:white;
		color:#333333;
		height:350px;
		margin: 0 auto;
		width:520px;}

		.textbox h1{
			font-size: 38px;
			margin-top: 40px;
			padding:45px 0 0 0;}

		.textbox p{
			font-size: 16px;
			margin:30px 50px;}

		.textbox h4{
			background-color: #ff9933;
			height:40px;
			margin:20px 100px 20px 200px;
			width:130px;}

		.textbox h4 a{
			color:white;
			line-height: 2.3;
			text-transform: uppercase;
			text-align: center;}

		.textbox h3{
			font-size: 20px;
			margin: 20px 0;}

/*Designs for Body*/
		h1{
			font-size: 30px;
			margin:50px 0 25px 0;}

		p{
			font-size: 15px;
			margin-bottom: 35px;}

		h2{
			font-size: 22px;
			margin-bottom: 25px;}

	select{
		border:none;
		font-size: 22px;
		font-family:'ff-tisa-pro-web',Georgia,serif;
		font-weight:500;
		height:35px;
		margin:0 200px 35px 0;
		width:220px;}

	.seven{
		margin: 0 80px 35px 0;}

	.age{
		margin:0 305px 35px 0;}

		.age input{
			width:20px;}

	.laststep{
		border:2px solid #990033;
		height:650;
		margin-left:100px;
		width:800;}

		.laststep img{
			margin: 10px 100px;}

		fieldset legend{
			font-size: 18px;}

		fieldset input{
			font-size: 18px;
			height:30px;
			margin:10px 0;
			width:215px;}

	.signup{
		height:200px;
		float:left;
		margin:0 50px 0 150px;
		width:218;}

	.login{
		float:right;
		height:200px;
		margin: -200px 150px 0 50px;
		width:218px;}

	.submit{
		background-color: #ff9933;
		height:40px;
		margin:300px 0 20px 275px;
		width:275px;}

		.submit h3 a{
			color:white;
			display: block;
			font-weight: normal;
			font-size: 18px;
			line-height: 2.3;
			margin: none;
			text-transform: uppercase;}

			.submit h3 a:hover{
			background-color: #8d153b;}

			h4{
			font-size:18px;
			color:#999999;}
